* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

header {
    background-color: #1F2937;
    padding: 20px 120px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.links {
    display: flex;
    gap: 30px;
}

.hero-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-top: 0;
    max-width: 500px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-left {
    max-width: 500px;

}


button {
    background-color: #3882F6;
    border-radius: 5px;
    color:#F9FAF8;
    border: 0;
    padding: 5px 20px;
}

.image-box {
    max-width: 900px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.info-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
     
}
.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-images {
    display: flex;
    gap: 40px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.image-box-small {
    border: 2px;
    border-color: #3882F6;
    border-style: solid;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.call-to-action {
    background-color: #3882F6;
    display: block;
    margin: auto;
    
}

p {
    margin: 0;
}



div {
    border: 2px;
    border-color: red;
    border-style: dotted;
}
