* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

header {
    background-color: #1F2937;
    padding: 20px 80px;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.links {
    display: flex;
    gap: 30px;
}

.hero-text {
    font: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color:#F9FAF8;
    border: 0;
    padding: 5px 20px;
}

.call-to-action {
    background-color: #3882F6;
    display: block;
    margin: auto;
}
