* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

header, footer {
    background-color: #1F2937;
    padding: 20px 120px;
}

.header {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.links {
    display: flex;
    gap: 30px;
}

.hero-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-top: 0;
    max-width: 500px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}

.header-left {
    max-width: 500px;

}


button {
    background-color: #3882F6;
    border-radius: 5px;
    color:#F9FAF8;
    border: 0;
    padding: 5px 20px;
}

.image-box {
    max-width: 900px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}


.info-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 700;
     
}
.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 120px 80px 120px;
}

.info-images {
    display: flex;
    gap: 40px;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.image-box-small {
    border: 2px;
    border-color: #3882F6;
    border-style: solid;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}


.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 80px 120px;
    
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 740px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: 300;
}

.quote-thor {
    align-self: flex-end;
    font-weight: bold;
}


.call-section {
    display: flex;
    max-width: 1280px;
    justify-content: center;
    padding: 80px 120px;
    margin: auto;

}

.call-to-action {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    border-radius: 10px;
    width: 800px;
}

.button-whitebg {
    border: 2px;
    border-color: #F9FAF8;
    border-style: solid;
    height: fit-content;
    align-self: center;
}

p {
    margin: 0;
}

h3 {
    margin: 0;
}

footer {
    text-align: center;
}


div {
    border: 2px;
    border-color: red;
    border-style: dotted;
}
